<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage/Exercise1/Leaflet</title>
        <link rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css'/>
        <script type='text/javascript' src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js'></script>
    </head>
    <body>

        <div id="map1" style="width:800px; height:600px"> </div>

        <div>
            <input type="text" class="form-control" id="artist" name="artist" />
		
		    <button type="button" id="FindHome" class="btn btn-primary">Search</button>
        </div>
        
    </body>
    <script type='text/javascript' src='scripts/mapapp.js'></script>
    <script type='text/javascript' src='scripts/findArtist.js'></script>

</html>